.text-style{
    font-weight: 500;
    
}
.nav-style{
    background-color: brown;
    text-align: right;
    padding: 10px;
}
.nav-style a{
    text-decoration: none;
    color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    padding: 9px;
}
.nav-style a:hover{
    background-color: gray;
    padding: 9px;
    border-radius: 10px;
}
.middle-text-style{
    color: brown;
}
.header-container{
    background-color: rgba(240, 200, 200, 0.801);
    padding: 2px;
    color: brown; 
}
.budget{
    background-color: rgba(216, 148, 148, 0.233);
    padding: 4px;
}