.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.display-cart{
    border: 2px solid rgb(206, 177, 177);
    background-color: rgba(253, 221, 221, 0.801);
    color: whitesmoke;
    border-radius: 6px;
    height: 300px;
    margin: 5px;
    box-shadow: 5px 8px 8px gray;
}

.display-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
